body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e6fa;
  color: #4b0082;
}

header {
  background-color: #d8bfd8;
  padding: 20px;
  border-bottom: 1px solid #dda0dd;
}

.logo img {
  max-width: 150px;
}

header h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 400;
  color: #4b0082;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #9932cc;
  border-bottom: 2px solid #9932cc;
  padding-bottom: 10px;
}

section p,
section ul,
section ol {
  line-height: 1.8;
  font-size: 1.1em;
  color: #4b0082;
}

section ul,
section ol {
  padding-left: 20px;
}

section ul li,
section ol li {
  margin-bottom: 10px;
}

.content-image {
  max-width: 100%;
  height: 250px;
  margin-bottom: 20px;
  border: 3px solid #dda0dd;
}

footer {
  background-color: #d8bfd8;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #dda0dd;
  color: #4b0082;
}
