body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #46dd28;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
  margin-bottom: 20px;
}

article h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

article p {
  text-align: justify;
  margin-bottom: 15px;
}

article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.center-img {
  text-align: center;
  margin: 20px 0;
}

.center-img img {
  display: inline-block;
  max-width: 60%;
}

.side-by-side img {
  width: 48%;
  height: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}
