<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  <header class="borda-preta">Header</header><!--
  --><nav class="borda-preta">Nav Bar</nav><!--
--><main class="borda-preta">Main
    <div class="nav-div borda-preta">
      <div>Olá</div>
      <div>Tudo</div>
      <div>Bem com você?</div>
    </div>
    <div class="content borda-preta">
      <div></div>
    </div>
  </main>
  <footer class="borda-preta">Footer</footer>
</body>
</html>