body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.borda-preta { 
  border: 2px solid black;
}

header {
  display: block;
  /* width: 100%; */
  height: 5vw;
  background-color: orange;
}

nav {
  display: inline-block;
  width: 15vw;
  height: 75vh;
  background-color: blue;
}

main {
  background-color: yellow;
  display: inline-block;
  width: 81.4vw;
  height: 75vh;
  padding: 0 1vw 0 1vw;
}

div.nav-div {
  display: block;
  background-color: orange;
  width: 99.5%;
  height: 20%;
}

div.nav-div div{
  display: inline-block;
  background-color: white;
  margin: 30px;
  width: 20%;
  height: 20%;
  font-size: 28px;
}


div.content {
  margin-top: 1vw;
  display: block;
  background-color:green;
  width: 99.5%;
  height: 71%;
}

footer {
  display: block;
  height: 6.9vw;
  width: 100%;
  background-color: red;
}